<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--本配置文件专门绑定业务的bean-->
    <!--导入整合Mybatis的专属配置文件-->
    <import resource="spring-dao.xml"/>

    <!--方法一：使用SqlSessionTemplate-->
    <bean id="userService" class="com.niao.mapper.UserMapperImpl">
        <!--注入Service层的SqlSession属性-->
        <property name="sqlSession" ref="sqlSession"/>
    </bean>
    <!--方法二：继承SQLSessionDaoSupport-->
    <bean id="userServicePro" class="com.niao.mapper.UserMapperImplPro">
        <!--要注入SQLSessionDaoSupport中的sqlSessionTemplate属性-->
        <property name="sqlSessionTemplate" ref="sqlSession"/>
    </bean>
</beans>